{% extends "base.html" %}
{% block body %}
    <style>
        .colors_question{
            color: {{ colors.task[1] }}
        }
    </style>
    <h1>Color Craze</h1>
{#    <div class="d-flex flex-row-reverse points">#}
{#        <div class="p-2">Wynik: {{ colors.player.colors_points }}</div>#}
{#    </div>#}
{#    <div class="timer">#}
{#        <p>czas:</p>#}
{#        <span id="timer"></span>#}
{#    </div>#}
    <div class="card text-bg-light mb-3 colors_task" style="max-width: 18rem;">
      <div class="card-header">{{ colors.task_type }}</div>
      <div class="card-body">
      <h5 class="card-title colors_question">{{ colors.task[0] }}</h5>
      </div>
    </div>

{#    <div class="answer_buttons">#}
{#        {% for i in range(4) %}#}
{#            <div>#}
{#                <a class="btn btn-primary formula_btn" href="{{ url_for("formula_answer", index=i) }}" role="button">{{ formula.all_answers[i] }}</a>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <script>#}
{#        let timer = document.getElementById('timer');#}
{#        let time = timer.innerHTML || {{ time_left }};#}
{#        timer.innerHTML = time;#}
{#        let countdown = setInterval(function (){#}
{#            time--;#}
{#            timer.innerHTML = time;#}
{#                fetch('http://127.0.0.1:5000/update_time', {#}
{#                    method: 'POST',#}
{#                    body: JSON.stringify({time_left: time}),#}
{#                    headers: {'Content-Type': 'application/json'}#}
{#                });#}
{#            if(time===0) {#}
{#                clearInterval(countdown);#}
{#                console.log("koniec 0")#}
{##}
{#                window.location.replace('http://127.0.0.1:5000/formula/end');#}
{#            }#}
{#        }, 1000);#}
{#    </script>#}
{% endblock %}
