{% extends "base.html" %}
{% block body %}
    <h1>Color Craze</h1>
    <div class="d-flex flex-row-reverse points">
        <div class="p-2">Wynik: {{ colors.player.colors_points }}</div>
    </div>
    <div class="timer">
        <p>czas:</p>
        <span id="timer"></span>
    </div>
    <div class="card text-bg-light mb-3 colors_task" style="max-width: 18rem;">
      <div class="card-header">{{ colors.task_type }}</div>
      <div class="card-body">
      <h5 class="card-title colors_question" style="color: {{ colors.task[1] }}">{{ colors.task[0] }}</h5>
      </div>
    </div>

    <div class="answer_buttons">
        {% for key in colors.answers %}
            <div>
                <a class="btn btn-light colors_btn" href="{{ url_for("colors_answer", key=key) }}" role="button" style="color:{{ colors.answers[key] }}">{{ key }}</a>
            </div>
        {% endfor %}
    </div>
    <script>
        let timer = document.getElementById('timer');
        let time = timer.innerHTML || {{ time_left }};
        timer.innerHTML = time;
        let countdown = setInterval(function (){
            time--;
            timer.innerHTML = time;
                fetch('http://127.0.0.1:5000/update_time', {
                    method: 'POST',
                    body: JSON.stringify({time_left: time}),
                    headers: {'Content-Type': 'application/json'}
                });
            if(time===0) {
                clearInterval(countdown);
                console.log("koniec 0")

                window.location.replace('http://127.0.0.1:5000/colors/end');
            }
        }, 1000);
    </script>
{% endblock %}
