{% extends "base.html" %}
{% block stylesheets %}
    <link href="https://fonts.cdnfonts.com/css/led-digital-7" rel="stylesheet">
{% endblock %}
{% block title %}Formula{% endblock %}
{% block body %}
    <h1>Formula</h1>
    <div class="points">
        <p>Wynik:</p>
        <div class="score">{{ formula.player.formula_points }}</div>
    </div>
    <div class="timer">
        <span id="timer"></span>
    </div>
    <div class="task">
        <div class="container formula_question">
            <button type="button" class="btn btn-primary formula_btn question_btn">{{ formula.player.formula_answers[0] }}</button>
            {{ formula.operator }}
            <button type="button" class="btn btn-primary formula_btn question_btn">{{ formula.player.formula_answers[1] }}</button> =
            <button type="button" class="btn btn-primary formula_btn question_btn">{{ formula.result }}</button>
    {#        <p>{{ formula.player.formula_answers[0] }} {{ formula.operator }} {{ formula.player.formula_answers[1] }} = {{ formula.result }}</p>#}
        </div>
        <div class="answer_buttons">
            {% for i in range(4) %}
                <div>
                    <a class="btn btn-primary formula_btn" href="{{ url_for("formula_answer", index=i) }}" role="button">{{ formula.all_answers[i] }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        let timer = document.getElementById('timer');
        let time = timer.innerHTML || {{ time_left }};
        timer.innerHTML = time;
        let countdown = setInterval(function (){
            time--;
            timer.innerHTML = time;
                fetch('http://127.0.0.1:5000/update_time', {
                    method: 'POST',
                    body: JSON.stringify({time_left: time}),
                    headers: {'Content-Type': 'application/json'}
                });
            if(time===0) {
                clearInterval(countdown);
                window.location.replace('http://127.0.0.1:5000/formula/end');
            }
        }, 1000);
    </script>
{% endblock %}
