h1, h2{
    text-align: center;
    margin-top: 20px;

}

li{
    margin-top: 20px;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
}

.formula_question{
    font-size: 30px;
}

.answer_buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}

.formula_btn{
    width: 70px;
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.colors_btn{
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors_task{
    margin: auto;
    margin-top: 40px;

}

.colors_check{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.colors_answer{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    width: 300px;

}

.timer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
}

.points{
    margin-right: 5%;
}

