/*body{*/
/*    background-color: black;*/
/*}*/



h1, h2{
    text-align: center;
    margin-top: 20px;
    /*color: white;*/

}

li{
    margin-top: 20px;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.points{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -50px;
}

.points p{
    margin-right: 10px;
    font-size: 20px;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9dfe8;
    border-radius: 50%;
    border: #167be8 5px solid;
    width: 80px;
    height: 80px;
    font-size: 30px;
}

.formula_question{
    font-size: 30px;
    margin-top: 100px;
    justify-content: center;
}

.question_btn{
    margin-right: 20px;
    margin-left: 20px;
}

.answer_buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
}

.formula_btn{
    width: 70px;
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.colors_btn{
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task{
    margin-top: 80px;
}

.colors_task{
    margin: auto;
    margin-top: 40px;

}

.colors_check{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.colors_answer{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    width: 300px;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.board-column{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 70px;
    height: 70px;
    border-radius: 0;
    border: solid black 1px;

}

.points{
    margin-right: 5%;
}


.home_img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
}


.form_div{
    margin-top: 50px;
}

.registration_btn{
    margin-top: 30px;
}

.account-question{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.instruction{
    width: 50%;
    margin: 100px auto auto;
}

.card-header{
    font-size: 1.5rem;
}

.answer_card{
    margin-top: 60px;
}

.understood-container{
    margin-top: 100px;
}

.btn-understood{
    padding: 10px 20px 10px 20px;
}


.info-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    background-color: rgba(121, 161, 180, 0.51);
}
.info-title h1{
    padding-top:30px;
}

.info-title img{
   margin-top: 20px;
    margin-bottom: 20px;
}


.info-header{
    margin-bottom: -20px;
    margin-top: 80px;
    font-size: 35px;
}

#functions-header{
    margin-top: 50px;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}

.functions-container{
    flex-wrap: wrap-reverse;
}

.cognitive-functions{
    width: 45%;
    font-size: 20px;
    margin-left: 8%;
    margin-top: 30px;
}

.info-memo p{
    margin: 0;
}

.info-memo{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    font-size: 18px;
}

.about-page{
    background-image: url("images/memo-yellow.png");
    margin: auto;
    width: 450px;
    height: 450px;
    font-size: 20px;
    padding-top: 80px;
}

#author{
    margin:auto;
}

.memo-functions{
    background-image: url("images/memo-pink.png");
    margin-top: -20px;
    margin-left: 5%;
}

.info-memo p{
    margin-bottom: -15px;
}

.perception{
    margin-left: 5%;
    margin-top: 40px;
    width: 50%;
}

.memo-perception{
    background-image: url("images/memo-yellow.png");
    margin-left: 10%;
}

.top-down{
    width: 40%;
    margin-top: -150px;
    margin-left: 5%;
    flex-direction: column;
}

.memo-bottom{
    background-image: url("images/memo-yellow.png");
    margin-left: -40%;
}

.memo-top{
    background-image: url("images/memo-yellow.png");
    margin-left: 5%;
}


.attention-container{
    flex-wrap: wrap-reverse;
}

.attention{
    margin-left: 5%;
}

.memo-attention{
    background-image: url("images/memo-green.png");
    margin-left: 5%;
    margin-top: 30px;
}

.memo-attention-functions{
    display: flex;
    margin-left: 40%;
    margin-top: -250px;
}

.memo-attention-functions1{
    background-image: url("images/memo-green.png");
    display: flex;
    flex-direction: column;
}

.memo-attention-functions2{
    background-image: url("images/memo-green.png");
    display: flex;
    flex-direction: column;
}

.memo-memory{
    background-image: url("images/memo-blue.png");
    /*width: 350px;*/
    /*height: 350px;*/
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    /*margin-top: 40px;*/
}

.memo-ltm-types{
    width: 430px;
    height: 430px;
}

.memory{
    width: 80%;
}

.types{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ltm-types{
    flex-direction: column;
}

.reasoning{
    width: 80%;
}

.memo-reasoning{
    background-image: url("images/memo-orange.png");
}

.reasoning-types{
    margin-top: 30px;
}


.timer{
    background-image: url("images/timer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: -130px;
    /*margin: auto;*/
}

#timer{
    font-size: 25px;
    font-family: 'LED Digital 7', sans-serif;

}


@media (max-width: 800px) {
    .image {
        width: 99%;
    }
    .instruction{
        width: 95%;
        font-size: 20px;
    }
    .nav{
        font-size: 20px;
    }
}

@media (max-width: 1300px){
    .cognitive-functions{
        display: flex;
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .info-memo{
        display: flex;
        flex-direction: column;
        margin: 20px auto 0 auto;
    }

    .top-down{
        margin-top: auto;
    }

    .attention{
        margin-top: auto;
    }

    .memo-attention-functions{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .memo-memory{
        margin-top: 20px;
    }

}