{% extends 'base.html' %}
{% block title %}O serwisie{% endblock %}
{% block body %}
    <h1>O serwisie</h1>
    <div class="info-memo about-page">
        <p id="author">Autorem niniejszego serwisu jest <b>Katarzyna Dębowska</b>. </p>
        <p>Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne przetwarzanie informacji),
            przygotowanej pod kierunkiem <b>prof. dr hab. Jerzego Koniora</b> na
            Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>
    </div>
{% endblock %}