{% extends "base.html" %}
{% block body %}
    <h1>Poznaj i wytrenuj swój umysł</h1>
    <div class="container">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action mb-3">PAMIĘĆ</a>
          <a href="{{ url_for("colors_start") }}" class="list-group-item list-group-item-action">KONCENTRACJA</a>
          <a href="{{ url_for("formula_start") }}" class="list-group-item list-group-item-action mb-3">LOGICZNE MYŚLENIE</a>
        </div>
    </div>
{% endblock %}