{% extends 'base.html' %}
{% block body %}
    <div class="info-title">
        <h1>Zdolności poznawcze</h1>
        <img src="{{ url_for('static', filename='/images/brain-info.png') }}" alt="mózg_logo" width="200px" height="170px">
    </div>
    <h2 id="functions-header" class="info-header">Czym są zdolności poznawcze?</h2>
    <div class="info-container functions-container">
        <div class="info-memo memo-functions">
            <p>Do zdolności poznawczych należą m.in.:</p>
            <ul>
                <li>percepcja,</li>
                <li>uwaga,</li>
                <li>pamięć,</li>
                <li>rozumowanie.</li>
            </ul>
        </div>
        <div class="cognitive-functions functions">
            <p>Zdolności poznawcze to funkcje ludzkiego umysłu, które pozwalają na
                <b> odbieranie, przetwarzanie i gromadzenie informacji z otoczenia</b>.
                Dzięki nim człowiek jest w stanie poznawać świat i tworzyć jego obraz w umyśle.
                Zdolności poznawcze są przez nas wykorzystywane nieustannie. Większość codziennych czynności wymaga
                zaangażowania przynajmniej części z nich. </p>
        </div>
    </div>

    <h2 id="perception" class="info-header">Percepcja</h2>
    <div class="info-container perception-container">
        <div class="cognitive-functions perception">
            <p>Percepcja jest najbardziej elementarnym procesem poznawczym. Jej główne zadanie polega na
                odbieraniu, przetwarzaniu i interpretowaniu <b>informacji pochodzących ze zmysłów</b>.
                Dzięki percepcji możliwe jest wyodrębnianie podstawowych cech obiektów, takich jak:
                <b>kolor, kształt, wielkość, temperatura</b>.</p>
        </div>
        <div class="info-memo memo-perception">
            <p>Klasycznie wyróżnia się 5 typów percepcji:</p>
            <ul>
                <li>wzrokową,</li>
                <li>słuchową,</li>
                <li>dotykową,</li>
                <li>węchową,</li>
                <li>smakową.</li>
            </ul>
        </div>

        <div class="cognitive-functions perception top-down">
            <h3>Procesy oddolne i odgórne</h3>
            <p>Choć może się wydawać, że percepcja przebiega w sposób natychmiastowy i automatyczny,
                wymaga integracji dwóch rodzajów procesów: oddolnych i odgórnych.</p>
        </div>
        <div class="info-memo memo-bottom">
            <p><b>Procesy oddolne</b> (bottom-up) bazują na informacjach dostarczanych przez narządy zmysłów.
                Przebiegają w trzech etapach:</p>
            <ol>
                <li>Odbiór wrażeń zmysłowych.</li>
                <li>Rozpoznanie elementarnych cech obiektu i połączenie ich w większą całość.</li>
                <li>Identyfikacja obiektu na podstawie posiadanej wiedzy.</li>
            </ol>
        </div>
        <div class="info-memo memo-top">
            <p><b>Procesy odgórne</b> (top-down) wykorzystują zgromadzoną wiedzę i doświadczenie do rozpoznawania bodźców.
                Dzięki nim możliwa jest stałość spostrzegania (wielkości, kształtu, barwy).
                W procesach odgórnych ważną rolę odgrywa nastawienie, które może przyczynić się do
                powstawania błędów percepcyjnych oraz złudzeń optycznych.</p>
        </div>
    </div>
    <h2 id="attention" class="info-header">Uwaga</h2>
    <div class="info-container attention-container">
        <div class="info-memo memo-attention">
            <p>Wyróżniamy dwa podstawowe typy uwagi:</p>
            <ol>
                <li> <b>Uwaga mimowolna</b> – przebiega bez udziału świadomości. Jest wywoływana przez nagłą zmianę środowiska
                    (dźwięk, obraz), umożliwia szybkie wykrycie zagrożenia.</li>
                <li><b>Uwaga wolicjonalna</b> – jest uruchamianya przez celowe skupienie się na danym obiekcie.</li>
            </ol>
        </div>
        <div class="cognitive-functions attention">
            <p>Podstawową funkcją uwagi jest <b>selekcja informacji</b>. Jest ona niezbędna do codziennego funkcjonowania.
                Bez niej nasz mózg uległby przeciążeniu, gdyż nie byłby w stanie przetwarzać wszystkich docierających do niego bodźców.</p>
        </div>
    </div>
    <div class="memo-attention-functions">
        <div class="info-memo memo-attention-functions1">
            <p>Najważniejsze funkcje uwagi:</p>
            <ul>
                <li>Selektywność – wybieranie bodźców do dalszego przetwarzania.</li>
                <li>Czujność – gotowość do wykrycia zmiany.</li>
                <li>Przeszukiwanie pola percepcyjnego – zdolność odnajdywania określonych bodźców.</li>
            </ul>
        </div>
        <div class="info-memo memo-attention-functions2">
            <p>Najważniejsze funkcje uwagi:</p>
            <ul>
                <li>Przedłużona koncentracja – zdolność do utrzymywania uwagi przez dłuższy czas na tym samym obiekcie.</li>
                <li>Podzielność uwagi – zdolność koncentracji uwagi na 2 lub więcej źródłach informacji.</li>
            </ul>
        </div>
    </div>
    <h2 id="memory" class="info-header">Pamięć</h2>
    <div class="info-container memory-container">
        <div class="cognitive-functions memory">
            <p>Pamięć jest zdolnością do <b>kodowania, przechowywania</b> i <b>wydobywania</b> informacji.
                Wyróżniamy różne rodzaje pamięci, zarówno ze względu na czas przechowywania informacji,
                jak i rodzaj przechowywanych informacji. Biorąc pod uwagę kryterium czasowe,  wyróżnia się pamięć
                sensoryczną, krótkotrwałą oraz długotrwałą.</p>
        </div>
        <div class="types memory-types">
            <div class="info-memo memo-memory">
                <p> <b>Pamięć sensoryczna</b> (ultrakrótkotrwała) – przechowuje informacje zmysłowe przez bardzo krótki czas
                    (poniżej 1 s). W ramach pamięci sensorycznej wyróżniamy <b>pamięć ikoniczną</b> (związaną z percepcją wzrokową)
                    oraz <b>pamięć echoiczną</b> (związaną z percepcją słuchową). </p>
            </div>
            <div class="info-memo memo-memory">
                <p> <b>Pamięć krótkotrwała </b> - przechowuje informacje przez okres kilkunastu sekund,
                    jej pojemność jest ograniczona (ok. 7 elementów). W ramach pamięci krótkotrwałej funkcjonuje
                    także <b>pamięć operacyjna</b>, która służy zapamiętywaniu informacji na krótki czas i wykonywaniu na nich operacji.</p>
            </div>
            <div class="info-memo memo-memory">
                <p> <b>Pamięć długotrwała </b> - stanowi magazyn informacji zapamiętanych na stałe,
                    a jej pojemność jest nieograniczona. W pamięci długotrwałej przechowywane są zarówno wspomnienia,
                    jak i wiedza oraz umiejętności.</p>
            </div>
        </div>
        <div class="info-container ltm-types-container">
            <div class="cognitive-functions ltm-types">
                <h3>Typy pamięci długotrwałej</h3>
                <p>Biorąc pod uwagę rodzaj przechowywanych informacji oraz sposób ich przywoływania z pamięci długotrwałej,
                    wyróżniamy pamięć deklaratywną (jawną) i niedeklaratywną (utajoną).</p>
            </div>
            <div class="types memory-types">
                <div class="info-memo memo-memory memo-ltm-types">
                    <p> <b>Pamięć deklaratywna</b> służy przechowywaniu informacji związanych z posiadaną wiedzą
                        oraz wspomnieniami. Dzieli się na:</p>
                    <ul>
                        <li><b>pamięć epizodyczną</b>, przechowującą informacje o zdarzeniach, w których braliśmy udział,</li>
                        <li><b>pamięć semantyczną</b>, przechowującą informacje na temat faktów i znaczeń.</li>
                    </ul>
                </div>

                <div class="info-memo memo-memory memo-ltm-types">
                    <p> <b>Pamięć niedeklaratywna</b> przechowuje informacje, z których posiadania często nie zdajemy sobie
                        sprawy. Ujawnia się w odpowiednim kontekście, np. poprzez zachowanie. Dzieli się na:</p>
                    <ul>
                        <li><b>pamięć proceduralną</b>, związaną z uczeniem się umiejętności i nawyków,</li>
                        <li><b>prymowanie</b> – skłonność do szybszego przetwarzania bodźców, z którymi miało się do czynienia wcześniej. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h2 id="reasoning" class="info-header">Rozumowanie</h2>
    <div class="info-container reasoning-container">
        <div class="cognitive-functions reasoning">
            <p>Rozumowanie jest specyficznym rodzajem myślenia. Polega na <b>wyciąganiu wniosków</b>  na podstawie przesłanek.
                Często bywa nazywane myśleniem logicznym. Wykorzystuje się je wszędzie tam, gdzie analizując dostępne dane,
                dochodzimy do poprawnej lub prawdopodobnej konkluzji. Wyróżniamy dwa typy rozumowania: dedukcyjnie i indukcyjne.</p>
        </div>
        <div class="types reasoning-types">
            <div class="info-memo memo-reasoning">
                <p> <b>Rozumowanie dedukcyjne </b> (od ogółu do szczegółu) jest formą myślenia opartą na zasadach logiki.
                    Na podstawie ogólnych twierdzeń dochodzi się do logicznie pewnego wniosku.
                    Dedukcja często przyjmuje formę rozumowania warunkowego w postaci: <q> jeżeli…, to…</q>. </p>
            </div>
            <div class="info-memo memo-reasoning">
                <p> <b>Rozumowanie indukcyjne</b> (od szczegółu do ogółu) polega na obserwowaniu zjawisk,
                    analizowaniu faktów i wyprowadzaniu na ich podstawie ogólnych twierdzeń.
                    Wnioski płynące z rozumowania dedukcyjnego nigdy nie są logicznie pewne,
                    mogą być jedynie prawdopodobne. </p>
            </div>
        </div>
    </div>

{% endblock %}