{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block body %}
    <div class="container form_div">
        <form method="POST">
        <label for="username" class="form-label">Nazwa użytkownika</label>
        <div class="mb-3 input-group" >
            <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-person-fill"></i>
            </span>
            <input name="username" type="text" class="form-control" id="username" required>
        </div>
        <label for="inputPassword" class="form-label">Hasło</label>
        <div class="mb-3 input-group" >
            <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-key-fill"></i>
            </span>
            <input name="password" type="password" class="form-control" id="inputPassword" required>
        </div>
       <div class="container registration_btn">
           <button type="submit" class="btn btn-primary">Zaloguj się</button>
       </div>
    </form>
    </div>
    <div class="account-question">
        <p>Nie masz jeszcze konta?&nbsp</p>
        <a href="{{ url_for('register') }}"><u>Zarejestruj się.</u></a>
    </div>
{% endblock %}